
input{
	max-width: 200px;
}
select{
	max-width: 200px;
}

.container {

	max-width: 800px; 
	margin-top: 40px;
}
.jumbotron {
	text-align: left;

}
h2 {
	text-align: center;
}
h4 {
	text-align: center;
}
.btn-success{
	margin-top: 30px;
	margin-bottom: 30px;
	
	margin-right: 100px;
}
.btn-warning{
	float: right;
	margin-top: 30px;
	margin-bottom: 30px;
}

